@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Inter", sans-serif;
}
